<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li> -->
    <li class="nav-igdc" role="menuitem"><a href="{{site.baseurl}}tag/igdc/">IGDC</a></li>
    <li class="nav-webgrus" role="menuitem"><a href="{{site.baseurl}}tag/webgrus/">Webgrus</a></li>
    <li class="nav-ixploit" role="menuitem"><a href="{{site.baseurl}}tag/ixploit/">Ixploit</a></li>
    <li class="nav-mgj" role="menuitem"><a href="{{site.baseurl}}tag/mgj/">MGJ</a></li>

    <!-- <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li> -->
</ul>
